body {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../images/office_meeting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    /* MAKE IT SO THAT WHEN YOU SCROLL DOWN, IT'S FIXED
    position: fixed; */
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    /* MAKE IT SO THAT WHEN YOU SCROLL DOWN, THE BACKGROUND COLOR TRANSITIONS TO SOMETHING ELSE
    border-bottom: 1px solid black; */
}

.navbar a {
    text-decoration: none !important;
    color: white;
}

input {
  padding-left: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  display: flex;
}
.makeAPost {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
}
.postTitle {
  height: 35px;
}
.postField{
  height: 100px;
}
.postSubmit{
  font-family: 'Courier New', Courier, monospace;
  height: 35px;
}
.postField::placeholder{
  font-size: 20px;
  padding: 5px 0 5px 5px;
  font-family: 'Courier New', Courier, monospace;
}
.makeAPost>h2 {
  text-align: center;
}

.posts {
  margin: auto;
}

.topOfPage{
  /* color: white; */
  text-align: center;;
}

.allPosts {
  overflow-y: auto;
  background-color: white;
  width: 600px;
  height:600px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0 60px 0 20px;
  color: black;
}
.allPosts>div {
  padding-left: 20px;
}
