.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
  /* background-color: white; */
  /*background: url("../images/prison_mike.png"); */
  background-size: cover;
  color: white;
  text-align: center;
  flex-direction: column;
  display: flex;
}

header>h1 {
    /* font-family: Pacifico, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 12rem;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    /* text-shadow: 2px 2px #ff0000; */
}

.navbar a {
    text-decoration: none !important;
    color: white;
}

.mainContainer{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  flex-direction: row;
}

.profile{
  margin-left: 10px;
}

body{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/prison_mike.png");
  background-size: cover;
}

.profile{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.updatebutton{
  background-color: white;
}

.inputContainer {
    width: 150px;
    background: rgba(0,0,0,0.4);
    padding: 0 2rem 1rem 2rem;
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    margin-left: 100px;
    margin-top: 10%;
    align-items: center;
    flex-direction: column;
}

.userPosts{
  margin-left: 200px;
  margin-top: 100px;
}

.postsTitle{
  font-size: 2rem;
}

.allUserPosts{
  overflow-y: auto;
  max-height: 100vh;
  background-color: white;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
