body{
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/michael_and_jim_office.jpg");
  background-size: cover;

}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
  /* background-color: white; */
  /* background: url("../images/grapefarm.jpeg"); */
  color: white;
  text-align: center;
  flex-direction: column;
  display: flex;
}

header>h1 {
    /* font-family: Pacifico, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 12rem;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    /* text-shadow: 2px 2px #ff0000; */
}

.navbar a {
    text-decoration: none !important;
    color: white;
}

input {
  font-size: 20px;
}
.confirm{
  padding-left: 12px;
}

label {
  font-size: 20px;
}

.container {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    padding-bottom: .5rem;
    background: rgba(0,0,0,0.4);
    border: 5px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    /* margin-left: 100px;
    margin-top: 10%; */
    margin: 10% auto;
    justify-content: space-between;
    width: 1000px;
}

.container-left{
width: 400px;
}

.container-right{
  width: 400px;
}
.submit{
  display: block;
}

.loginSubmit{
  display: block;
}

footer {
  text-align: center;    
  font-family: 'Courier New', Courier, monospace;
  color: white;
  margin-top: 220px;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  background-color: black;
}